{$SERVER_NAME} {
  # Définit le répertoire racine des fichiers
  root * /usr/share/caddy
  
  # Active le serveur de fichiers
  file_server
  
  # Configure les logs
  log {
    output stderr
    format json
  }
}